<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Grooveculture's Example using node.js express and hanlebars template engine</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
